xsd/EinheitenSolar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EinheitenSolar">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EinheitSolar" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="EinheitMastrNummer"/>
              <xs:element type="xs:dateTime" name="DatumLetzteAktualisierung"/>
              <xs:element type="xs:string" name="LokationMaStRNummer" minOccurs="0"/>
              <xs:element name="NetzbetreiberpruefungStatus">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="2954"/>
                    <xs:enumeration value="2955"/>
                    <xs:enumeration value="3075"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:date" name="NetzbetreiberpruefungDatum" minOccurs="0"/>
              <xs:element type="xs:string" name="AnlagenbetreiberMastrNummer" minOccurs="0"/>
              <xs:element name="Land">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="84"/>
                    <xs:enumeration value="90"/>
                    <xs:enumeration value="198"/>
                    <xs:enumeration value="66"/>
                    <xs:enumeration value="169"/>
                    <xs:enumeration value="106"/>
                    <xs:enumeration value="231"/>
                    <xs:enumeration value="206"/>
                    <xs:enumeration value="215"/>
                    <xs:enumeration value="269"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Bundesland" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="1416"/>
                    <xs:enumeration value="1402"/>
                    <xs:enumeration value="1403"/>
                    <xs:enumeration value="1401"/>
                    <xs:enumeration value="1400"/>
                    <xs:enumeration value="1404"/>
                    <xs:enumeration value="1406"/>
                    <xs:enumeration value="1405"/>
                    <xs:enumeration value="1407"/>
                    <xs:enumeration value="1408"/>
                    <xs:enumeration value="1409"/>
                    <xs:enumeration value="1410"/>
                    <xs:enumeration value="1412"/>
                    <xs:enumeration value="1413"/>
                    <xs:enumeration value="1414"/>
                    <xs:enumeration value="1411"/>
                    <xs:enumeration value="1415"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Landkreis" minOccurs="0"/>
              <xs:element type="xs:string" name="Gemeinde" minOccurs="0"/>
              <xs:element type="xs:string" name="Gemeindeschluessel" minOccurs="0"/>
              <xs:element type="xs:string" name="Postleitzahl"/>
              <xs:element type="xs:string" name="Strasse" minOccurs="0"/>
              <xs:element type="xs:string" name="Gemarkung" minOccurs="0"/>
              <xs:element type="xs:string" name="FlurFlurstuecknummern" minOccurs="0"/>
              <xs:element name="StrasseNichtGefunden" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Hausnummer" minOccurs="0"/>
              <xs:element name="Hausnummer_nv">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="HausnummerNichtGefunden" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Adresszusatz" minOccurs="0"/>
              <xs:element type="xs:string" name="Ort"/>
              <xs:element type="xs:float" name="Laengengrad" minOccurs="0"/>
              <xs:element type="xs:float" name="Breitengrad" minOccurs="0"/>
              <xs:element type="xs:date" name="Registrierungsdatum"/>
              <xs:element type="xs:date" name="Inbetriebnahmedatum" minOccurs="0"/>
              <xs:element type="xs:date" name="DatumEndgueltigeStilllegung" minOccurs="0"/>
              <xs:element type="xs:date" name="DatumBeginnVoruebergehendeStilllegung" minOccurs="0"/>
              <xs:element type="xs:date" name="DatumWiederaufnahmeBetrieb" minOccurs="0"/>
              <xs:element type="xs:date" name="GeplantesInbetriebnahmedatum" minOccurs="0"/>
              <xs:element name="EinheitSystemstatus">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="472"/>
                    <xs:enumeration value="473"/>
                    <xs:enumeration value="484"/>
                    <xs:enumeration value="490"/>
                    <xs:enumeration value="572"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EinheitBetriebsstatus">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="35"/>
                    <xs:enumeration value="31"/>
                    <xs:enumeration value="38"/>
                    <xs:enumeration value="37"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="BestandsanlageMastrNummer" minOccurs="0"/>
              <xs:element name="NichtVorhandenInMigriertenEinheiten" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="AltAnlagenbetreiberMastrNummer" minOccurs="0"/>
              <xs:element type="xs:date" name="DatumDesBetreiberwechsels" minOccurs="0"/>
              <xs:element type="xs:date" name="DatumRegistrierungDesBetreiberwechsels" minOccurs="0"/>
              <xs:element type="xs:string" name="NameStromerzeugungseinheit"/>
              <xs:element type="xs:string" name="Weic" minOccurs="0"/>
              <xs:element name="Weic_nv">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="WeicDisplayName" minOccurs="0"/>
              <xs:element type="xs:string" name="Kraftwerksnummer" minOccurs="0"/>
              <xs:element name="Kraftwerksnummer_nv">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Energietraeger">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="2411"/>
                    <xs:enumeration value="2493"/>
                    <xs:enumeration value="2408"/>
                    <xs:enumeration value="2410"/>
                    <xs:enumeration value="2494"/>
                    <xs:enumeration value="2409"/>
                    <xs:enumeration value="2412"/>
                    <xs:enumeration value="2407"/>
                    <xs:enumeration value="2413"/>
                    <xs:enumeration value="2403"/>
                    <xs:enumeration value="2404"/>
                    <xs:enumeration value="2405"/>
                    <xs:enumeration value="2495"/>
                    <xs:enumeration value="2406"/>
                    <xs:enumeration value="2957"/>
                    <xs:enumeration value="2958"/>
                    <xs:enumeration value="2496"/>
                    <xs:enumeration value="2498"/>
                    <xs:enumeration value="2497"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:float" name="Bruttoleistung"/>
              <xs:element type="xs:float" name="Nettonennleistung"/>
              <xs:element name="AnschlussAnHoechstOderHochSpannung" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FernsteuerbarkeitNb" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FernsteuerbarkeitDv" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Einspeisungsart" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="689"/>
                    <xs:enumeration value="688"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:float" name="ZugeordneteWirkleistungWechselrichter" minOccurs="0"/>
              <xs:element type="xs:int" name="AnzahlModule" minOccurs="0"/>
              <xs:element name="ArtDerSolaranlage">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="853"/>
                    <xs:enumeration value="2961"/>
                    <xs:enumeration value="2484"/>
                    <xs:enumeration value="852"/>
                    <xs:enumeration value="3002"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Leistungsbegrenzung" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="803"/>
                    <xs:enumeration value="802"/>
                    <xs:enumeration value="1535"/>
                    <xs:enumeration value="804"/>
                    <xs:enumeration value="805"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EinheitlicheAusrichtungUndNeigungswinkel" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Hauptausrichtung" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="702"/>
                    <xs:enumeration value="699"/>
                    <xs:enumeration value="698"/>
                    <xs:enumeration value="700"/>
                    <xs:enumeration value="704"/>
                    <xs:enumeration value="695"/>
                    <xs:enumeration value="696"/>
                    <xs:enumeration value="703"/>
                    <xs:enumeration value="701"/>
                    <xs:enumeration value="697"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="HauptausrichtungNeigungswinkel" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="806"/>
                    <xs:enumeration value="807"/>
                    <xs:enumeration value="808"/>
                    <xs:enumeration value="809"/>
                    <xs:enumeration value="810"/>
                    <xs:enumeration value="811"/>
                    <xs:enumeration value="3179"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Nebenausrichtung" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="700"/>
                    <xs:enumeration value="701"/>
                    <xs:enumeration value="696"/>
                    <xs:enumeration value="704"/>
                    <xs:enumeration value="703"/>
                    <xs:enumeration value="697"/>
                    <xs:enumeration value="702"/>
                    <xs:enumeration value="699"/>
                    <xs:enumeration value="698"/>
                    <xs:enumeration value="695"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NebenausrichtungNeigungswinkel" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="809"/>
                    <xs:enumeration value="808"/>
                    <xs:enumeration value="811"/>
                    <xs:enumeration value="810"/>
                    <xs:enumeration value="806"/>
                    <xs:enumeration value="807"/>
                    <xs:enumeration value="3179"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Nutzungsbereich" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="713"/>
                    <xs:enumeration value="716"/>
                    <xs:enumeration value="718"/>
                    <xs:enumeration value="714"/>
                    <xs:enumeration value="715"/>
                    <xs:enumeration value="717"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Buergerenergie" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="EegMaStRNummer"/>
              <xs:element type="xs:float" name="GroesseDerInAnspruchGenommenenFlaecheInHektar" minOccurs="0"/>
              <xs:element name="UeberwiegendeNutzungsartDerFlaecheVorErrichtung" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="3187"/>
                    <xs:enumeration value="3188"/>
                    <xs:enumeration value="3189"/>
                    <xs:enumeration value="3190"/>
                    <xs:enumeration value="3191"/>
                    <xs:enumeration value="3192"/>
                    <xs:enumeration value="3193"/>
                    <xs:enumeration value="3194"/>
                    <xs:enumeration value="3196"/>
                    <xs:enumeration value="3197"/>
                    <xs:enumeration value="3198"/>
                    <xs:enumeration value="3199"/>
                    <xs:enumeration value="3200"/>
                    <xs:enumeration value="3201"/>
                    <xs:enumeration value="3202"/>
                    <xs:enumeration value="3203"/>
                    <xs:enumeration value="3204"/>
                    <xs:enumeration value="3205"/>
                    <xs:enumeration value="3206"/>
                    <xs:enumeration value="3207"/>
                    <xs:enumeration value="3208"/>
                    <xs:enumeration value="3209"/>
                    <xs:enumeration value="3210"/>
                    <xs:enumeration value="3211"/>
                    <xs:enumeration value="3212"/>
                    <xs:enumeration value="3213"/>
                    <xs:enumeration value="3214"/>
                    <xs:enumeration value="3215"/>
                    <xs:enumeration value="3216"/>
                    <xs:enumeration value="3217"/>
                    <xs:enumeration value="3218"/>
                    <xs:enumeration value="3219"/>
                    <xs:enumeration value="3245"/>
                    <xs:enumeration value="3246"/>
                    <xs:enumeration value="3247"/>
                    <xs:enumeration value="3248"/>
                    <xs:enumeration value="3249"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Einsatzverantwortlicher" minOccurs="0"/>
              <xs:element type="xs:string" name="GenMastrNummer" minOccurs="0"/>
              <xs:element name="SpeicherAmGleichenOrt" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="NameDesSolarparks" minOccurs="0"/>
              <xs:element name="VorherigerNutzungsartenbereichDerFlaeche" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="3220"/>
                    <xs:enumeration value="3221"/>
                    <xs:enumeration value="3222"/>
                    <xs:enumeration value="3223"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ZusaetzlicheMerkmaleDerFlaecheUndDerAktuellenFlaechennutzung" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="709"/>
                    <xs:enumeration value="710"/>
                    <xs:enumeration value="711"/>
                    <xs:enumeration value="712"/>
                    <xs:enumeration value="812"/>
                    <xs:enumeration value="813"/>
                    <xs:enumeration value="815"/>
                    <xs:enumeration value="2965"/>
                    <xs:enumeration value="3057"/>
                    <xs:enumeration value="3180"/>
                    <xs:enumeration value="3181"/>
                    <xs:enumeration value="3182"/>
                    <xs:enumeration value="3183"/>
                    <xs:enumeration value="3184"/>
                    <xs:enumeration value="3186"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:float" name="LichteHoehe" minOccurs="0"/>
              <xs:element type="xs:dateTime" name="InbetriebnahmedatumAmAktuellenStandort" minOccurs="0"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>